<html>
<head>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

<title>Web Camera Location</title>

</head>
<body>
<div class='container-fluid'>
	<div class="row-fluid"><h1>Web Camera Location Finder</h1>
	<span> This tool takes an outdoor webcamera feed, monitors it for a day, and predicts where in the world it is based on the time of sunrise and sunset. To begin, please enter the url for the webcamera feed (and only the webcamera feed) into the box below.</span></div>
	<div class="row-fluid">
	<form>
		<input name=url type=text/>
		<input type="submit" value="Submit">
	</form>

	</div>
	</div>
	</div>
</body>
</html>